article {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  article > section {
    position: relative;
    display: none; }

[page=login] #login, [page=home] #home {
  display: block; }
